.receipt-header {
  h1 {
    color: red;
    font-size: 60px;
  }
  .receipt-info {
    display: flex;
    justify-content: space-between;
    span {
      display: block;
      margin-top: 5px;
    }
    .receipt-detail {
      margin-top: 50px;
      .orderNumber{
        color: red;
        display: inline;
        font-weight: 500;
      }
    }
  }
}
 

.receipt-body{
  margin-top: 50px;
  .rdt_Table{
    border-bottom: 2px solid red;
  }
  .rdt_TableHeadRow{
    background-color: red !important; 
    color: white;
    border-radius: 5px;
  }
}

.receipt-footer{
  margin-top: 50px;
  div{
    display: flex;
    justify-content: flex-end;

    table{

      td {
        padding: 10px 25px;
        font-size: 16px;
      }
      .heading{
        font-weight: 500;
      }
  
      .grandTotal{
        color: red;
        border-radius: 10px;
        td{
          font-size:  20px !important;
          font-weight: 700;
        }
      }
    }
  }
  h3{
    font-size: 22px;
    text-align: center;
  }
  

}